:host {
  height: 100%;
  flex-direction: column;
  display: flex;
}

main {
  flex: 1;
  // height: 100%;
  // padding-top: 3rem;
  // padding-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 16px 1fr 1fr;
  grid-template-areas:
    "first-h first-h . second-h second-h"
    "first-k12 first-k10 . second-k12 second-k10"
    ". buttons buttons buttons .";
  row-gap: 1.5rem;
  column-gap: 2rem;

  h2 {
    margin: 0;
  }

  .first-h {
    grid-area: first-h;
    text-align: center;
  }

  .second-h {
    text-align: center;
    grid-area: second-h;
  }

  .first-k12 {
    grid-area: first-k12;
  }

  .first-k10 {
    grid-area: first-k10;
  }

  .second-k12 {
    grid-area: second-k12;
  }

  .second-k10 {
    grid-area: second-k10;
  }

  .button-container {
    grid-area: buttons;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    button {
      width: 50%;
    }
  }
}

.results-container {
  display: flex;
  flex-direction: column;
}

.pi {
  // display: flex;
  // justify-content: center;
  font-size: 64px;
  text-align: center;
  padding-bottom: 2rem;
}

footer {
  margin-bottom: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  img {
    max-height: 120px;
  }
}
